@mixin text {
    color: #929292;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 0;
}

@mixin title {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

@mixin round {
    width: 100px;
    height: 100px;
    background-color: #dfedff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}