@import '../base/variables.scss';

.btn {
    width: 165px;
    height: 50px;
    border-radius: 25px;
    background-color: #0063dd;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: $color-main;
    }

    &_left {
        background-color: $color-main;
        text-transform: none;
        &:hover {
            background-color: #fff;
            border: 2px solid $color-main;
            color: $color-main;
        }
        

    }
    &_right {
        background-color: #fff;
        border: 2px solid $color-main;
        color: $color-main;
        text-transform: none;
        &:hover {
            background-color: $color-main;
            color: #fff;
        }
        
    }
    &_br {
        border: 2px solid #0f7bff;
        background-color: #ffffff;
        color: #0f7bff;
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        &:hover {
            background-color:  #ffffff
        }
        &_left {
            border-radius: 25px 0 0 25px;
        }
        &_right {
            border-radius: 0 25px 25px 0;
            border-left: none;
        }
    }
    &_active {
        background-color: #0f7bff;
        color: #ffffff;
        &:hover {
            background-color: #0f7bff;
        }
    }
    

}