@import '../base/mixins.scss';

.features {
    max-width: 1920px;
    min-height: 635px;
    margin: 0 auto;
    background-color: #f5fcfd;
    &__items {
        padding-top: 165px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 50px 1fr 50px;
        column-gap: 30px;  
    }
    &__item {
        padding: 40px 30px;
        min-height: 290px;
        box-shadow: 0 0 25px #f0f0f0;
        border-radius: 5px;
        background-color: #ffffff;
        &:nth-child(2) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4;
        } 
        &:nth-child(3) {
            grid-column-start: 3;
            grid-column-end: 4;
        }   
    }
    &__round {
        @include round;
        margin: 0 auto;
        width: 70px;
        height: 70px;
        &_bc_1 {
            background-color: #dfedff;
        }
        &_bc_2 {
            background-color: #f5dfff;
        }
        &_bc_3 {
            background-color: #dfffe3;
        }
    }
    &__title {
        @include title;
        text-align: center;
        margin-top: 23px;
    }
    &__text {
        @include text;
        margin-top: 16px;
        text-align: center;
    }
}