@import '../base/variables';

.header {
    display: grid;
    grid-template-columns: 179px 1fr 165px;
    column-gap: 53px;
    align-items: center;
    &__logo {
        display: block;
        width: 179px;
        height: 100px;
        border-radius: 0 0 22px 22px;
        background-color: $color-main;
        color: #feffff;
        font-size: 36px;
        font-weight: 700;
        padding-top: 34px;
        text-align: center;
        line-height: 24px;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
    nav {
        width: 353px;
        justify-self: end;
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            &__link {
                color: #929292;
                font-size: 16px;
                font-weight: 400;
                line-height: 27px;
                text-transform: uppercase;
                &_active {
                    color: $color-main;
                }
                &:hover {
                    text-decoration: none;
                    color: $color-main;
                }
            }
            
        }
    }
    &__btn {
        justify-self: end;
    }
}