.pageup {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    border-radius: 3px;
    background-color: #ffffff;
    img {
        width: 100%;
    }
    &__show {
        display: block;
    }
}