@import '../base/mixins.scss';
@import '../base/variables.scss';

.sentence {
    max-width: 1920px;
    min-height: 336px;
    background-color: #f5fcfd;
    margin: 0 auto;
    padding: 130px 0;
    &__wrapper {
        max-width: 752px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__descr {
        align-self: center;
    }
    &__lead-text {
        @include text;
        margin-top: 15px;
    }
    &__btn {
        width: 263px;
        height: 76px;
        border-radius: 5px;
        background-color: $color-main;
        border: none;
        justify-self: end;
        &:hover {
            background-color: #0063dd;
        }
    }
}