@import '../base/mixins.scss';

.work {
    max-width: 1920px;
    min-height: 646px;
    background-color: #f5fcfd;
    margin: 0 auto;
    padding: 151px 0 127px;
    &__lead-text {
        @include text;
        margin-top: 28px;
        text-align: center;
        
    }
    &__items {
        max-width: 1076px;
        margin: 0 auto;
        position: relative;
        margin-top: 47px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
    }
    &__round {
        @include round;
        margin: 0 auto;
    }
    &__line {
        position: absolute;
        width: 680px;
        height: 1px;
        border: 1px dotted #0f7bff;
        top: 20%;
        left: 20%;
        z-index: -5;
    }
    &__title {
        @include title;
        text-align: center;
        margin-top: 30px;
    }
    &__text {
        @include text;
        text-align: center;
        margin-top: 15px;
    }
}